<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Analytics Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar">
    <div class="logo">ShelfSight Analytics</div>
    <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#dashboard">Dashboard</a></li>
        <li><a href="#story">Story</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#video">Video</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

{% block content %}{% endblock %}

</body>
</html>
